[Unit]
Description=Backup to OneDrive using rclone
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/ye/bin/rclone_onedrive.sh

[Install]
WantedBy=default.target
