{{- if eq .chezmoi.hostname "arch-laptop" -}}
    Xft.dpi: {{ .chezmoi.config.data.XftDPI.laptop | default "96" -}}
{{- else if eq .chezmoi.hostname "arch-desktop" -}}
    Xft.dpi: {{ .chezmoi.config.data.XftDPI.desktop | default "96" -}}
{{- end }}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
{{ if eq .chezmoi.hostname "arch-laptop" -}}
    rofi.dpi: {{ .XftDPI.laptop | default "96" -}}
{{- else if eq .chezmoi.hostname "arch-desktop" -}}
    rofi.dpi: {{ .XftDPI.desktop | default "96" -}}
{{- end }}
